.brown{
    background-color: brown;
    padding: 2%;
}
.flesh{
    background-color: peachpuff;
    padding: 2%;
}
.red{
    background-color: rgb(255, 16, 16);
    padding: 2%;
}
.blue{
    background-color: blue;
    padding: 2%;
}
